cache2/
startupCache/
storage/
saved-telemetry-pings/
minidumps/
jumpListCache/
places.sqlite*
cookies.sqlite*
formhistory.sqlite*
permissions.sqlite*
favicons.sqlite*
webappsstore.sqlite*
storage-sync.sqlite
storage.sqlite
search.json.mozlz4
addonStartup.json.lz4
addons.json
sessionstore.jsonlz4
sessionCheckpoints.json
SiteSecurityServiceState.txt
AlternateServices.txt
content-prefs.sqlite
xulstore.json
protections.sqlite
bookmarkbackups/
datareporting/
logins.json
key4.db
key3.db
.DS_Store
Thumbs.db
*~
